{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Acerca de mi Blog</h1>

        <body>

           <p>Mi nombre es Fernando Landolfo y terminé la cursada el día 14/12/2023, pero</p>
           <p>como estudiante del curso de programación Python en Coderhouse comisión 47790,</p>
           <p>aprendimos a generar esta App en Django con Python, HTML, CSS y Bootstrap.</p>
           <p>Por ese motivo los invito a que recorran los módulos, funciones y vistas de la App.</p>
           <p>Sin mas que comentar, les deseo felices fiestas.</p>

           <p>Saludos y ¡¡¡felicidades!!!.</p>


        </body>
    </div>
{% endblock content %}