{% extends 'blog/base.html' %}
{% block content %}
    <div class="container" style="background: white; padding: 20px; margin-top: 10px; border-radius: 20px;">
        <h1>Bienvenidos al Blog del Proyecto de Coder</h1>
        <body> Te invitamos a recorrer nuestro blog, desde los botones de la barra de navegación,
          te recomendamos estar registrado para poder acceder al contenido y poder publicar, editar y borrar contenido.
          Si aún no lo hiciste podes hacerlo desde el botón Registrate.
        </body>
    </div>
{% endblock content %}
