{% extends 'blog/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<!DOCTYPE html>
<html>
    <div class="content-section">
        <form name="logout" method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Hasta luego {{username}}</legend>
                <h4>Tu sesión ha sido cerrada.</h4>
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"><a href="{% url 'login' %}">Iniciar sesión nuevamente</a></button>
            </div>
        </form>
    </div>
</html>
{% endblock content %}